@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap");

:root {
  --card-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  --card-color: #5c76f8;
  --accent-color: #f6ce3e;
}

.card {
  padding: 20px;
  background-color: var(--card-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.2s ease-out;

  h2 {
    text-transform: capitalize;
    font-family: "DynaPuff";
    font-size: 1em;
    color: var(--accent-color);
  }
}

.card:hover {
  transform: scale(1.1);
  background-color: var(--accent-color);

  h2 {
    color: var(--card-color);
  }
}